@import 'styles/main.scss';

.container {
  @include wrapper;
  .posts-wrapper {
    .post-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-row-gap: $space-m;
      grid-column-gap: $space-m;
      @include tablet {
        grid-template-columns: 1fr;
        grid-gap: $space-s;
        grid-row-gap: $space-s;
      }
    }
    .pagination-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100px;
    }

    .post-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
}
