///// Colors /////
// Primary
$blue-100: #5577f2;
$blue-80: #7793f5;
$blue-60: #99aef7;
$blue-40: #bbc9fa;
$blue-20: #dde4fc;
$blue-10: #eef1fe;
// Secondary
$sienna-100: #ee6c4d;
$sienna-80: #f18971;
$sienna-60: #f5a794;
$sienna-40: #f8c4b8;
$sienna-20: #fce2db;
$sienna-10: #fdf0ed;
// Typography
$black-100: #233759;
$black-80: #4f5f7a;
$black-60: #7b879c;
$black-40: #a7afbd;
$black-20: #d3d7de;
$black-10: #e9ebee;
// Background
$grey-100: #f7f9fc;
$grey-80: #f9fafd;
$grey-60: #fafbfd;
$grey-40: #fcfdfe;
$grey-20: #fdfefe;
$grey-10: #fefeff;
$grey-5: #f2f6fe;
// Supporting 1
$yellow-100: #ffcd59;
$yellow-80: #ffd77a;
$yellow-60: #ffe19b;
$yellow-40: #ffebbd;
$yellow-20: #fff5de;
$yellow-10: #fffaee;
// Supporting 2
$green-100: #6ecb63;
$green-80: #8bd582;
$green-60: #a8e0a1;
$green-40: #c5eac1;
$green-20: #e2f5e0;
$green-10: #f1faef;
// Supporting 3
$silver-100: #c8ceda;
$silver-80: #d3d8e1;
$silver-60: #dee2e9;
$silver-40: #e9ebf0;
$silver-20: #f4f5f8;
$silver-10: #fafafb;

// Supporting
$purple-100: #794cf8;
$purple-10: #e4ddf5;
$orange-100: #ed9c11;
$orange-10: #faead1;
